*{
    font-size: 20px;
}
input{
    margin: 5px;
}
.btn{
    font-size: 40px;
    width: 150px;
    height: auto;
}
body{
    padding-bottom: 30px;
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #373737;
    color: magenta;
  
}
.blur{
    background-color: aquamarine;
}
#words{
    width:300px ;
}
.non-visible{
    display:none;
}
.visible{
    display:block;
}
.task{
    width: 70%;
  
    max-height: 350px;
    text-align: center;
    margin-bottom: 50px;
}
p{
    color:#fff;
}
#link{
    text-decoration: none;
}

.t24{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#ul_t27{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
 }
.lined{
    text-decoration: line-through;
}
.red{
    color: red;
}
.bold{
    font-weight: bold;
}
.t28{
    list-style: none;
    cursor: pointer;
}
.t28__{
    list-style: none;
color: #fff;
}
ul{
    padding: 0;
}